body {
  background-color: black;
  font-family: VT323;
  position: fixed;
}


@font-face {
  font-family: 'VT323';
  src: local('VT323'), url(./fonts/VT323-Regular.ttf) format('truetype');
}

.welcome-msg {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: auto;
  height: auto;
  background-color: black;
  color: green;
  font-family: VT323;
  position: fixed;
  left: 32%;
}




.nav-button {
  display: inline-block;
  font-family: VT323;
  color: green;
  width: 95px;
  height: 50px;
  position: fixed;
  bottom: 3%;
  left: 46.95%;
  text-align: center;
  font-size: 40px;
}
.nav-button:hover {
  background-color: darkslategrey;
  cursor: pointer;
}

.board {
  text-align: center;
  font-family: VT323;
  font-size: 30px;
  width: 850px;
  height: 400px;
  color: green;
  position: fixed;
  left: 19.1%;
  top: 13%;
  border: solid;
}

.right-button {
  font-size: 30px;
  font-family: VT323;
  display: inline-block;
  position: fixed;
  border: ridge;
  right: 39%;
  bottom: 12%;
  background-color: grey;
  color: Green;
  width: 100px;
  height: 65px;
  text-align: center;
}

.left-button {
  font-size: 30px;
  font-family: VT323;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  border: ridge;
  left: 40%;
  bottom: 12%;
  background-color: grey;
  color: green;
  width: 100px;
  height: 65px;
  text-align: center;
}

.right-button:hover {
  background-color: darkslategray;
  cursor: pointer;
}

.left-button:hover {
  background-color: darkslategray;
  cursor: pointer;
}

.turn-phase {
  position: fixed;
  left: 38%;
  font-family: VT323;
  text-align: center;
  font-size: 80px;
  color: green;
  background-color: black;
}

.not-found {
  position: fixed;
  margin: 20px;
  font-size: 30px;
  color: white;
}

.game-over {
  position: fixed;
  left: 25%;
  top: 30%;
  width: 1000px;
  height: 1000px;
  background-color: black;
  color: green;
  font-family: VT323;
  font-size: 200px;
}

.win-msg {
  position: fixed;
  text-align: center;
  left: 20%;
  top: 30%;
  background-color: black;
  color: green;

  font-family: VT323;
  font-size: 150px;
}
