body {
  background-color: black;
}

.welcome-msg {
  font-size: 23px;
  display: inline-block;
  text-align: center;
  width: auto;
  height: auto;
  background-color: black;
  color: green;
  font-family: VT323;
  position: fixed;
  left: 32%;
}

.nav-button {
  display: inline-block;
  font-family: VT323;
  color: green;
  width: 100px;
  height: 50px;
  position: fixed;
  left: 46.9%;
  bottom: 7%;
  text-align: center;
  font-size: 50px;
}
.nav-button:hover {
  background-color: darkslategrey;
  cursor: pointer;
}

.player {
  text-align: center;
  font-family: VT323;
  font-size: 40px;
  width: 600px;
  height: 420px;
  color: green;
  position: absolute;
  left: 30.4%;
  top: 15%;
  border: solid;
}

.right-button {
  font-size: 30px;
  font-family: VT323;
  display: inline-block;
  position: fixed;
  border: ridge;
  right: 41.5%;
  bottom: 16%;
  background-color: grey;
  color: Green;
  width: 100px;
  height: 65px;
  text-align: center;
}

.left-button {
  font-size: 30px;
  font-family: VT323;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  border: ridge;
  left: 41.5%;
  bottom: 16%;
  background-color: grey;
  color: green;
  width: 100px;
  height: 65px;
  text-align: center;
}

.right-button:hover {
  background-color: darkslategray;
  cursor: pointer;
}

.left-button:hover {
  background-color: darkslategray;
  cursor: pointer;
}

.turn-phase {
  font-family: VT323;
  text-align: center;
  font-size: 80px;
  color: green;
  background-color: black;
}

.not-found {
  margin: 20px;
  font-size: 30px;
  color: white;
}

.game-over {
  position: absolute;
  left: 25%;
  top: 30%;
  width: 1000px;
  height: 1000px;
  background-color: black;
  color: green;
  font-family: VT323;
  font-size: 200px;
}

.win-msg {
  position: absolute;
  text-align: center;
  left: 20%;
  top: 30%;
  background-color: black;
  color: green;

  font-family: VT323;
  font-size: 150px;
}
